<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-12">

            <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-7">
                    <div class="container">

                        <input type="checkbox">
                        <div class="cover">
                            <div class="front">
                                <img src="https://images.pexels.com/photos/3810796/pexels-photo-3810796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="">
                                <div class="text">
                                    <span class="text-1">Delas <br> Conectando empreendedoras</span>
                                    <span class="text-2">Faça seu login</span>
                                </div>
                            </div>
                            
                        </div>
                        <form action="#">
                            <div class="form-content">
                                <div class="login-form">
                                    <div class="title">Entrar</div>
                                    <div class="input-boxes">
                                        <div class="input-box">
                                            <i class="fas fa-envelope"></i>
                                            <input [(ngModel)]='userLogin.usuario' type="text" name="usuaLogin" id="usuaLogin" placeholder="Digite seu usuário" required>
                                        </div>
                                        <div class="input-box">
                                            <i class="fas fa-lock"></i>
                                            <input [(ngModel)]='userLogin.senha' type="password" name="senhaLogin" id="senhaLogin" placeholder="Digite sua senha" required>
                                        </div>
                                        <div class="text"><a href="#">Esqueceu a senha?</a></div>
                                        <div class="button input-box">
                                            <input type="submit" (click)='entrar()' value="Entrar">
                                        </div>
                                        <div class="text sign-up-text" routerLink='/home'>Não tem conta? <label
                                                >Cadastre-se</label></div>
                                    </div>
                                </div>
                               
                            </div>
                            
                        </form>

                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>