<!--INICIO NAV BAR FEED-->
<!--FIM NAV BAR FEED-->


<!-- INICIO FEED -->
<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="feed p-2">
              <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                  <div class="feed-text px-2">
                    <!--INSERIR MODAL PEDINDO DADOS DA POSTAGEM-->
                    <!--Postagens poderão ser feitas com texto e/ou foto ou juntos-->
                    <!--Categorias vão ser selecionadas quando ela for postar-->
                      <h6 class="text-black-50 mt-2">Ei, mulher faça aqui seu post de divulgação</h6>
                  </div>
                  <div class="feed-icon px-2"><i class="fa fa-long-arrow-up text-black-50"></i></div>
              </div>
              <div class="bg-white border mt-2">
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                          <!--Interpolação fotoPerfil e nome user-->
                            <div class="d-flex flex-row align-items-center feed-text px-2">
                              <!--Interpolação foto{{usuario.fotoPerfil}} e nome {{usuario.nome}}-->
                              <img class="rounded-circle" src="fotoPerfil" width="45">
                              <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">nome user</span>
                              </div>
                            </div>
                            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                        </div>
                  <div class="p-2 px-3"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
                  <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i></div>
              </div>
              <div class="bg-white border mt-2">
                  <div>
                      <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                        <!--Interpolação fotoPerfil e nome user-->
                          <div class="d-flex flex-row align-items-center feed-text px-2">
                            <img class="rounded-circle" src="fotoPerfil" width="45">
                            <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">nome user</span>
                            </div>
                          </div>
                          <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                      </div>
                  </div>
                  <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="fotoPost"> 
                  FOTO DO POST SERÁ AQUI 
                  </div>
                  <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i></div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- FIM FEED -->