
                              <!-- Formulário consumidore -->

<div class="container-fluid">

  <div class="row d-flex align-items-center">

      <div class="col-12">
          <div class="row d-flex justify-content-center mt-3">
              <div class="col-md-7">
                  <div class="container">

                      
                      <div class="cover">
                          <div class="front">
                              <img src="https://images.pexels.com/photos/5685865/pexels-photo-5685865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                              alt="">
                              <div class="text">
                                  <span class="text-1"> Ei consumidore, <br> Pronte para embarcar <br> nesse mundo de soluções?</span> <br>
                                  <span class="text-2"> Vem com a gente!</span>
                              </div>
                          </div>
                      </div>
                      <form action="#">
                          <div class="form-content">
                              
                              <div class="signup-form">
                                  <div class="title">Cadastro consumidore</div>
                                  <div class="input-boxes">

                                      <form class="row g-3">
                                          <div class="col-md-6 me-4">
                                            <label for="inputNome" class="form-label">Nome</label>
                                            <input [(ngModel)]='usuario.nome' type="text" name="nome" class="form-control" id="nomeConsu" placeholder="Digite seu nome">
                                          </div>
                                          
                                          <div class="col-md-5">
                                            <label for="inputEmail" class="form-label">E-mail</label>
                                            <input [(ngModel)]='usuario.email'  type="email" name="email" class="form-control" id="emailConsu" placeholder="Digite seu e-mail">
                                          </div>

                                          <div class="col-md-6 me-4">
                                              <label for="inputData" class="form-label pt-2">Data de nascimento</label>
                                              <input [(ngModel)]='usuario.dataNasc' type="date" name="dataNasc" class="form-control" id="dataNascConsu">
                                            </div>

                                            <div class="col-md-5">
                                              <label for="inputGenero" class="form-label pt-2">Gênero</label>
                                              <select id="generoConsu" class="form-select" name="genero" (change)='generos($event)'>
                                                <option selected>Selecione</option>
                                                <option>Mulher cisgênero</option>
                                                <option>Mulher transgênero</option>
                                                <option>Homem cisgênero</option>
                                                <option>Homem transgênero</option>
                                              </select>
                                            </div>

                                            <div class="col-md-6 me-4">
                                              <label for="inputUsuario" class="form-label pt-2">Usuário</label>
                                              <input [(ngModel)]='usuario.usuario' type="text" class="form-control" name="usuario" id="usuarioConsu" placeholder="Digite seu usuario">
                                            </div>
                                            
                                            
                                          <div class="col-md-5">
                                            <label for="inputUrlPerfil" class="form-label pt-2">Foto do perfil</label>
                                            <input [(ngModel)]='usuario.fotoPerfil'  type="text" class="form-control" id="urlFotoConsu" name="urlFoto" placeholder="Link da foto">
                                          </div>

                                            <div class="col-12">
                                              <label for="inputBio" class="form-label pt-2">Biografia</label>
                                              <input [(ngModel)]='usuario.bio' type="text" name="bio" class="form-control" id="bioConsu" placeholder="Conte um pouco sobre você">
                                            </div>

                                            <div class="col-md-6 me-4">
                                              <label for="inputSenha" class="form-label pt-2">Senha</label>
                                              <input (input)='confirmSenha($event)'  type="password" class="form-control" name="senha" id="senhaConsu" placeholder="Insira sua senha">
                                            </div>

                                            <div class="col-md-5">
                                                <label for="inputConfirmarSenha" class="form-label pt-2">Confirmar senha</label>
                                                <input [(ngModel)]='usuario.senha'  type="password" class="form-control" name="confirmSenha" id="confirmSenhaConsu" placeholder="Senha">
                                              </div>

                                              <label for="inputTipoUser" class="form-label pt-2">Tipo de usuário</label>
                                              <select id="tipoUser" class="form-select" name="tipoUser" (change)='tipoUser($event)'>
                                                <option selected>Selecione a opção desejada</option>
                                                <option>Consumidore</option>
                                              </select>
                                                

                                          </form>


                                      <div class="button input-box">
                                          <input class="me-4" type="submit" value="cancelar" routerLink="/home">
                                          <input type="submit" value="cadastrar" (click)='cadastrar()'>
                                      </div>
                                      <div class="text sign-up-text">Já possui uma conta? <label routerLink='/logar'>Faça o
                                              login</label></div>
                                  </div>
                              </div>
                          </div>
                          
                      </form>

                      
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

