.bg-tema{
    background: #370A37;
}


button {
    width: 100px;
    padding: 3px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 10px;
    /* font-weight: bold; */
    border: 2px solid #fff;
    background:#ffff;
    color:  #370A37;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  
  button:hover {
  background-color: transparent;
  color: #d8bfd8;
  }
