<div class="container-fluid">

    <div class="banner">

        <div class="navbar">
           <!--//Logo do Delas -->
            <img src="fdfdf" alt="fsf">
          <div class="navLeft">
            <ul>
                <li> <a href="#">Home</a> </li>
                <li> <a href="#equipe">Equipe</a> </li>
                <li> <a href="#">Contato</a> </li> 
            </ul>
          </div>

            <div class="navRight">
            <ul>
              <li> <a href="#" routerLink='/logar'> Login <img src="../../assets/img/enter.png" alt=""> </a></li>
            </ul>
          </div>

        </div>
                                <!-- nome da rede social e descição -->
        <div class="content">
            <h1>Delas </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quae neque sint corrupti, nam quas vel veniam. Repellendus nam fuga,<br> ab laborum totam facere eum culpa sit odio pariatur dolor.</p>
            <p> Escolha seu tipo de conta e cadastre-se abaixo: </p>
            <div class="d-flex justify-content-center">
                <button routerLink='/cadastrar' type="button">Empreendedora</button>
                <button type="button">Consumidor</button>
            </div>
        </div>
    </div>
</div>
<!--sobre o projeto-->
<!--primeiro-->
<div class="col-md-12 d-flex justify-content-center mt-5">
<div class="containerContato">
<div class="contentContato">  
 <div class="">
   
  <img src="../../assets/img/ods.png" alt="" width="220px" height="220px">
 </div>
 <div class="right-side">
   <div class="topic-text"><h1>Objetivos de desenvolvimento sustentável</h1> </div>
   <p>De onde viemos e pra onde queremos ir!!</p>
 <form action="#">
  <div class="mt-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, totam architecto. Voluptatem, dolorum reprehenderit eveniet mollitia praesentium illo ea optio voluptas quos qui! Rem quod aspernatur nihil vel, harum ex?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, vitae quidem amet magni sint ducimus adipisci impedit tempora laudantium. Cumque corporis necessitatibus consequuntur. Totam consectetur hic aut consequuntur saepe beatae.</p>
  </div>
   
 </form>
</div>
</div>
</div>
</div>
<!--primeiro-->

<!--segundo-->
<div class="col-md-12 d-flex justify-content-center mt-5">
  <div class="containerContato">
  <div class="contentContato">  
   <div class="">
     
    <img src="../../assets/img/mulher1.png" alt="" width="220px" height="220px">
   </div>
   <div class="right-side">
     <div class="topic-text"><h1>Delas </h1> </div>
     <p>De onde viemos e pra onde queremos ir!!</p>
   <form action="#">
    <div class="mt-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, totam architecto. Voluptatem, dolorum reprehenderit eveniet mollitia praesentium illo ea optio voluptas quos qui! Rem quod aspernatur nihil vel, harum ex?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, vitae quidem amet magni sint ducimus adipisci impedit tempora laudantium. Cumque corporis necessitatibus consequuntur. Totam consectetur hic aut consequuntur saepe beatae.</p>
    </div>
     
   </form>
  </div>
  </div>
  </div>
  </div>
<!--segundo-->

<!--terceiro-->
<div class="col-md-12 d-flex justify-content-center mt-5">
  <div class="containerContato">
  <div class="contentContato">  
   <div class="">
     
    <img src="../../assets/img/mulher2.png" alt="" width="220px" height="220px">
   </div>
   <div class="right-side">
     <div class="topic-text"><h1>Delas </h1> </div>
     <p>De onde viemos e pra onde queremos ir!!</p>
   <form action="#">
    <div class="mt-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, totam architecto. Voluptatem, dolorum reprehenderit eveniet mollitia praesentium illo ea optio voluptas quos qui! Rem quod aspernatur nihil vel, harum ex?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, vitae quidem amet magni sint ducimus adipisci impedit tempora laudantium. Cumque corporis necessitatibus consequuntur. Totam consectetur hic aut consequuntur saepe beatae.</p>
    </div>
     
   </form>
  </div>
  </div>
  </div>
  </div>
<!--terceiro-->






<!---->





<!--equipe-->
<h1 class="text-center mt-5">Conheça a equipe</h1>
<div class="row mt-3" id="equipe">
      <!--perfil victoria--> 
      <div class="row mt-5">
        <div class="div col-md-2"></div>
       <div class="col-md-4 d-flex justify-content-center">
        <div class="cardVic me-5">
            <div class="card-body">
              <h2 class="card-title">Victória</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga placeat odio pariatur doloribus sint?</p>
              <a href="https://www.linkedin.com/in/vicalvessantos/" target="_blank">
                <i class="fab fa-linkedin me-4"></i>
              </a>
              <a href="https://github.com/VictoriaAlvess" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
         </div>
         <!--victoria-->

          <!--perfil marcos-->
          <div class="col-md-4 d-flex justify-content-center">
            <div class="cardVic fotoMarcos">
                <div class="card-body">
                  <h2 class="card-title">Marcos</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga placeat odio pariatur doloribus sint?</p>
                  <a href="http://www.linkedin.com/in/marcos-0" target="_blank">
                    <i class="fab fa-linkedin me-4"></i>
                    </a>
                    <a href="https://github.com/marcosphd" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>

                </div>
              </div>
             </div>
         <!--marcos-->
       </div>

       <div class="row mt-5">
       <!--Gabriela-->
       
       <div class="col-md-2"></div>
       <div class="col-md-4 d-flex justify-content-center">
         <div class="cardVic fotoGabi me-5">
             <div class="card-body">
               <h2 class="card-title">Gabriela</h2>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga placeat odio pariatur doloribus sint?</p>
               <a href="https://www.linkedin.com/in/ggsgabi/" target="_blank">
                <i class="fab fa-linkedin me-4"></i></a>
                <a href="https://github.com/gabrielagsoares" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
             </div>
           </div>
          </div>
          <!--gabriela-->
 
           <!--pedro-->
           
           <div class="col-md-4 d-flex justify-content-center">
            <div class="cardVic fotoPedro">
                <div class="card-body">
                  <h2 class="card-title">Pedro</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga placeat odio pariatur doloribus sint?</p>
                  <a href="https://www.linkedin.com/in/pedro-silva-919799169/" target="_blank">
                    <i class="fab fa-linkedin me-4"></i></a>
                    <a href="https://github.com/pedro123483" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
              </div>
             </div>
             
           
          <!--pedro-->
        </div>

    
</div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--equipe-->



  