<div class="container-fluid">

  <div class="banner">

    <div class="navbar">
      <!--//Logo do Delas -->
      <img src="" alt="">
      <div class="navLeft">
        <ul>
          <li> <a href="#">Home</a> </li>
          <li> <a href="#equipe">Equipe</a> </li>
          <li> <a href="#">Contato</a> </li>
        </ul>
      </div>

      <div class="navRight">
        <ul>
          <li> <a href="#" routerLink='/logar'> Login <img src="../../assets/img/enter.png" alt=""> </a></li>
        </ul>
      </div>

    </div>
    <!-- nome da rede social e descição -->
    <div class="content mt-5">
      <h1>Delas </h1>
      <p>Sua vitrine interativa para divulgação do trabalho de
        mulheres múltiplas periféricas no mercado
        empreendedor!<br> </p>
      <p> Escolha seu tipo de conta e cadastre-se abaixo: </p>
      <div class="d-flex justify-content-center">
        <button routerLink='/cadastrar' type="button">Empreendedora</button>
        <button type="button">Consumidor</button>
      </div>
    </div>
  </div>
</div>
<!--sobre o projeto-->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#8b008b" fill-opacity="1"
    d="M0,128L48,117.3C96,107,192,85,288,96C384,107,480,149,576,176C672,203,768,213,864,208C960,203,1056,181,1152,176C1248,171,1344,181,1392,186.7L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
  </path>
</svg>


<!--primeiro-->
<div class="col-md-12 d-flex justify-content-center mt-5">
  <div class="containerContato">
    <div class="contentContato">

      <div class="">
        <div class="topic-text">
          <h1 class="corTitulo">ODS - 5</h1>
        </div>
        <p>Vamos falar um pouco de oportunidades?</p>
        <form action="#">
          <div class="mt-3">
            <p>Uma mulher vivendo, hoje, em um país em desenvolvimento, certamente tem um futuro com mais oportunidades do que tiveram sua mãe e sua avó. Afinal, vários são os aspectos que estão melhores para as mulheres no século XXI. Mais garotas estão na escola do que nunca antes. A população está um pouco mais longe da miséria: entre 1995 e 2015, a porcentagem de pessoas vivendo em extrema pobreza caiu 26% no mundo. Neste mesmo período, a proporção de mulheres que se casaram quando crianças diminuiu 15%, de uma em cada quatro para aproximadamente uma em cada cinco.</p>
          </div>

        </form>
      </div>
      <div class="right-side">

        <img src="../../assets/img/ods.png" alt="" width="220px" height="220px">
      </div>
    </div>

    <!--terceiro-->
    <div class="contentContato mt-5">

      <div class="">

        <img src="../../assets/img/home.jpeg" alt="" width="220px" height="220px">
      </div>

      <div class="right-side">
        <div class="topic-text">
          <h1 class="corTitulo">De onde viemos e pra onde queremos ir</h1>
        </div>
        <form action="#">
          <div class="mt-3">
            <p>Segundo dados da Associação Brasileira das Empresas de Tecnologia da Informação e Comunicação (Brasscom), a proporção de empregos no setor é 37% de mulheres para 63% de homens. Quando observadas as funções técnicas, a distância aumenta, sendo 23,9% de mulheres para 76,1% de homens.</p>
          </div>
        </form>
      </div>
      
    </div>

    <!--terceiro-->

      <!--segundo-->
      <div class="contentContato mt-5">
        
        <div class="right-side">
          <div class="topic-text">
            <h1 class="corTitulo">Delas </h1>
          </div>
          <p>Conectando mulheres e oportunidades</p>
          <form action="#">
            <div class="mt-3">
              <p>Pensando em tudo nisso, nossa rede social chega para facilitar a conexão dessas mulheres, aumentar o engajamento, visibilidade, e ajudar cada uma Delas em sua própria jornada.</p>
            </div>
  
          </form>
        </div>
        <div class="">
  
          <img src="../../assets/img/home2.jpeg" alt="" width="220px" height="220px">
        </div>
      </div>
      <!--segundo-->

  </div>
</div>

<!--primeiro-->




<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#8b008b" fill-opacity="1"
    d="M0,128L48,117.3C96,107,192,85,288,96C384,107,480,149,576,176C672,203,768,213,864,208C960,203,1056,181,1152,176C1248,171,1344,181,1392,186.7L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
  </path>
</svg>


<!--equipe-->
<h1 class="text-center mt-5 corTitulo">Conheça nossa equipe</h1>
<div class="row mt-5" id="equipe">
  <!--perfil victoria-->
  <div class="container-fluid d-flex flex-wrap">
    <div class="div col-md-2"></div>
    <div class="col-md-3">
      <div class="cardVic me-5">
        <div class="card-body">
          <h2 class="card-title">Victória Alves</h2>
          <p>Desenvolvedora FullStack Ama codificar, é criativa, determinada e uma das criadoras da rede Delas</p>
          <a href="https://www.linkedin.com/in/vicalvessantos/" target="_blank">
            <i class="fab fa-linkedin me-4"></i>
          </a>
          <a href="https://github.com/VictoriaAlvess" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <!--victoria-->

    <!--perfil marcos-->
    <div class="col-md-3 ">
      <div class="cardVic fotoMarcos">
        <div class="card-body">
          <h2 class="card-title">Marcos Daniel</h2>
          <p>Desenvolvedor FullStack Comunicador nato, adora trabalhar em equipe, e um dos criadores da rede Delas </p>
          <a href="http://www.linkedin.com/in/marcos-0" target="_blank">
            <i class="fab fa-linkedin me-4"></i>
          </a>
          <a href="https://github.com/marcosphd" target="_blank">
            <i class="fab fa-github"></i>
          </a>

        </div>
      </div>
    </div>
    <!--marcos-->
  </div>

  <div class="container fluid-text-wrap row mt-5">
    <!--Gabriela-->

    <div class="col-md-3"></div>
    <div class="col-md-4 container-fluid d-flex flex-wrap">
      <div class="cardVic fotoGabi me-5">
        <div class="card-body">
          <h2 class="card-title">Gabriela Gomes</h2>
          <p>Desenvolvedora FullStack Apaixonada por desafios e inovação, e uma das criadoras da rede Delas</p>
          <a href="https://www.linkedin.com/in/ggsgabi/" target="_blank">
            <i class="fab fa-linkedin me-4"></i></a>
          <a href="https://github.com/gabrielagsoares" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <!--gabriela-->

    <!--pedro-->

    <div class="col-md-4">
      <div class="cardVic fotoPedro">
        <div class="card-body">
          <h2 class="card-title">Pedro</h2>
          <p>Desenvolvedor FullStack Focado, objetivo e um dos criadores da rede Delas</p>
          <a href="https://www.linkedin.com/in/pedro-silva-919799169/" target="_blank">
            <i class="fab fa-linkedin me-4"></i></a>
          <a href="https://github.com/pedro123483" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <!--pedro-->
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#8b008b" fill-opacity="1"
    d="M0,128L48,117.3C96,107,192,85,288,96C384,107,480,149,576,176C672,203,768,213,864,208C960,203,1056,181,1152,176C1248,171,1344,181,1392,186.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
  </path>
</svg>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Sobre nós</h4>
        <ul>

          <li><a href="#">Uma vitrine interativa para </a></li>
          <li><a href="#">divulgação do trabalho de mulheres</a></li>
          <li><a href="#">múltiplas periféricas no mercado empreendedor</a></li>


        </ul>
      </div>
      <div class="footer-col">
        <h4>Colaboradores</h4>
        <ul>
          <li><a href="#">Gabriela Gomes</a></li>
          <li><a href="#">Marcos Daniel</a></li>
          <li><a href="#">Pedro Silva</a></li>
          <li><a href="#">Victória Alves</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contato</h4>
        <ul>
          <li><a href="#">generation.delas@gmail.com</a></li>


        </ul>
      </div>
      <div class="footer-col">
        <h4></h4>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/delas-conectando-empreendedoras-08662a217/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/VictoriaAlvess/DelasFront" target="_blank"><i class="fab fa-github"></i></a>

        </div>
      </div>
      <div class="footer-copyright bgfooter text-center py-3 mt-5">
        <a class="text-light" target="_blank" href=""> © 2021 Copyright: </a>
        <a class="text-light" target="_blank" href=""> Delas </a>
      </div>
    </div>
  </div>
</footer>



<!-- footer -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--equipe-->